<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title & Favicon-->
    <title>@ViewBag.Title - El Sentido del Oído</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Imagenes/Esdo.ico">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- DataTables -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/cr-1.6.2/date-1.4.1/fh-3.3.2/kt-2.8.2/r-2.4.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.css" rel="stylesheet" />

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Bootstrap & icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css" integrity="sha512-+lTQieKmY7aHl8Ymq6IdJ6rGxARmvtIW96p7Ph5quN9l8Dwq+foNS4Oqmk0wUxxucY6LbPZzRfbUCV8GmrGv6g==" crossorigin="anonymous" />    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Extras -->
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>

    <div class="container-fluid" style="margin: 0; padding: 0;">

        <!-- Ingresar al sistema -->
        <div style="border-bottom: 1px solid #CED4DA">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" style="margin-right: 20px;"><a class="float-end nav-link" href="@Url.Action("Login", "Acceso")"><i class="bi bi-box-arrow-in-right"></i> Ingresar al sistema</a></li>
            </ul>
        </div>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-bottom: 1px solid #CED4DA">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img style="width: 100px; height: 75px;" src="~/Content/Imagenes/LogoOido.png" alt="Alternate Text" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-bs-close-others="true">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios audiológicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Audífonos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Turnos", "Turnos")">Turnos online</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                            <li><a href="@Url.Action("Crear", "Usuarios")"><i class="bi bi-instagram"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


    </div>

    <div class="container-fluid" style="margin: 0; padding: 0;">
        @RenderBody()
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - El Sentido del Oído - By: <a href="https://www.linkedin.com/in/lionel-pesaresi-905a36238/" target="_blank">Lionel Pesaresi</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>

    <!-- DataTables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/cr-1.6.2/date-1.4.1/fh-3.3.2/kt-2.8.2/r-2.4.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.js"></script>

    <!-- Extras -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js" integrity="sha512-8S29rTF7jfDzHvUwmTXUV8b9yL/gELVQFW1r62HIn6qLWxye/Tz9wxGv1BCPLjSyPNhS3SBPONaTVS9OGRgT8w==" crossorigin="anonymous"></script>

</body>
</html>


