@model sistemaESDO.Models.ViewModels.NuevaContrasenaViewModel
@{
    ViewBag.Title = "Ingresar email";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card mt-3">
                <div class="card-header">
                    <h3>Ingrese su email</h3>
                </div>
                @using (Html.BeginForm("EmailRestPassword", "Acceso", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese su email" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("Email", new { @class = "text-danger" })
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("Volver", "Login", "Acceso", new { }, new { @class = "btn btn-secondary" })
                        <button type="submit" class="btn btn-primary">Recuperar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // limpia los campos de entrada al cargar la página
            $('input[type="text"], input[type="password"], input[type="email"]').val('');
        });
    </script>
}