@model sistemaESDO.Models.ViewModels.NuevaContrasenaViewModel
@{
    ViewBag.Title = "Recuperar contraseña";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("ForgotPassword", "Acceso", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col mb-3">
                <div class="card mt-3">
                    <div class="card-header">
                        <h3>Cambiar contraseña</h3>
                    </div>
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="row g-3">

                            <!-- userEmail -->
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "form-label" })
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                                    @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @type = "email", @id = "userEmail" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                @Html.ValidationMessage("UserNull", new { @class = "text-danger" })
                            </div>

                            <!-- userContraseña -->
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.UserNuevaContraseña, htmlAttributes: new { @class = "form-label" })
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                                    @Html.EditorFor(model => model.UserNuevaContraseña, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "password-field" } })
                                    <span class="input-group-text"><a href="#" style="color: dimgray;" class="reveal"><i class="bi bi-eye-slash"></i></a></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.UserNuevaContraseña, "", new { @class = "text-danger" })
                                @Html.ValidationMessage("PassNull", new { @class = "text-danger" })
                            </div>

                            <!-- userConfirmarContraseña -->
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.UserConfirmarContraseña, htmlAttributes: new { @class = "form-label" })
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                                    @Html.EditorFor(model => model.UserConfirmarContraseña, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "repitpassword-field" } })
                                    <span class="input-group-text"><a href="#" style="color: dimgray;" class="reveal2"><i class="bi bi-eye-slash"></i></a></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.UserConfirmarContraseña, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-12">
                            @Html.ActionLink("Volver", "Login", "Acceso", new { }, new { @class = "btn btn-secondary" })
                            <input id="btnCrear" type="submit" value="Cambiar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.UserID)
        @Html.HiddenFor(x => x.UserNombre)
        @Html.HiddenFor(x => x.UserApellido)
        @Html.HiddenFor(x => x.UserRol)
    }
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            // Mostrar ocultar contraseña
            $('.reveal').click(function () {
                var passwordField = $('#password-field');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $(this).html('<i class="fa fa-eye-slash"></i>');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).html('<i class="fa fa-eye"></i>');
                }
            });

            // Mostrar ocultar repetir contraseña
            $('.reveal2').click(function () {
                var passwordField = $('#repitpassword-field');
                var passwordFieldType = passwordField.attr('type');
                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $(this).html('<i class="fa fa-eye-slash"></i>');
                } else {
                    passwordField.attr('type', 'password');
                    $(this).html('<i class="fa fa-eye"></i>');
                }
            });
        });
    </script>
}
